<div class="wrapper">
<h2>Welcome to Your Ultimate Note-Taking App!</h2>

<div class="buttons">
    <a class="nav-link" routerLinkActive="active" [routerLink]="'/login'"><button class="btn btn-secondary">Login</button></a>
    <a class="nav-link" routerLinkActive="active" [routerLink]="'/signup'"><button class="btn btn-secondary">Signup</button></a>
</div>

<p>In today's fast-paced world, staying organized and productive is essential. Our Note App is designed to help you manage your thoughts, ideas, and tasks effortlessly. Whether you’re a student, professional, or just someone who loves to jot down ideas, this app is tailored to meet your note-taking needs.
    
    Key Features:
    User-Friendly Interface: Navigate through a sleek and intuitive design that makes jotting down notes a breeze.
    
    Organize Your Notes: Create, edit, and categorize notes effortlessly. You can tag notes for easy retrieval and sorting.
    
    Rich Text Formatting: Enhance your notes with bold, italics, bullet points, and more. Make your notes visually appealing and easier to read.
    
    Search Functionality: Find any note quickly with our powerful search feature. No more digging through endless pages!
    
    Secure and Accessible: Your notes are stored securely, and you can access them from any device, anytime, anywhere.
    
    Offline Access: Never lose your thoughts! Our app allows you to write and save notes offline, syncing them when you're back online.
    
    Collaboration Tools: Share your notes with friends or colleagues for collaborative brainstorming sessions or group projects.
    
    Why Choose Our Note App?
    Our Note App is more than just a digital notebook. It's a comprehensive tool designed to boost your productivity and creativity. With features tailored to your needs, it empowers you to capture your thoughts, track your tasks, and organize your life.
    
    Join thousands of satisfied users who have transformed the way they take notes. Start your journey to better organization and productivity today!</p>

</div>